<app-loading [ShowLoading]="this.loading" ></app-loading>

<form [formGroup]="form" (ngSubmit)="this.formSubmit()" >
    <div class="row ">
        <div class="col-md-12 form-group">
            <label for="txtSearch" class="control-label">Search بحث </label>
            <input type="text" name="txtSearch" formControlName="txtSearch" placeholder="Search بحث" class="form-control"/> 
           
        </div>
        <div class="col-md-12 form-group">
           
            <button type="submit" class="btn btn-success" >Search بحث</button>

        </div>

        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">

            </div>
        </div>

      
    </div>
</form>


